target/
neardev/
Cargo.lock
**/*.rs.bk
node_modules/
temp

# relayer
relayer/hints
relayer/host.sh
relayer/POST

# front-end
web-ui/node_modules
web-ui/.pnp
web-ui/.pnp.js

# front-end testing
web-ui/coverage

# front-end production
# web-ui/build

# front-end misc
web-ui/.DS_Store
web-ui/.env.local
web-ui/.env.development.local
web-ui/.env.test.local
web-ui/.env.production.local

web-ui/npm-debug.log*
web-ui/yarn-debug.log*
web-ui/yarn-error.log*

# mdbook
book
